{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <h1 class="text-center mt-4">{{blog.title}}</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center mt-5">{{blog.content}}</p>
                <p class="ml-4">Billet de blog écrit par <span><i>{{ blog.user.email }}</i></span></p>
                {% if blog.modifyAt != null %}
                <p class="ml-4">Dernière modification le <span><i>{{ blog.createAt ? blog.createAt|date('d-m-Y') : '' }}</i></span></p>
                {% endif %}
                <div class="text-center">
                    <a href="{{ path('app_blog_index') }}">Retour à l'index</a>
                </div>
            </div>
        </div>
    </div>
<!--
    <table class="table">
        <tbody>
            <tr>
               <th>Id :</th>
                <td>{{ blog.id }}</td>
            </tr>
            <tr>
                <th>Titre :</th>
                <td>{{ blog.title }}</td>
            </tr>       
            <tr>
                <th>Auteur :</th>
                <td>{{ blog.user.email }}</td>
            </tr>
            <tr>
                <th>Contenue :</th>
                <td>{{ blog.content }}</td>
            </tr>       
            <tr>
                <th>Publier le :</th>
                <td>{{ blog.createAt ? blog.createAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Dernière modification le :</th>
                <td>{{ blog.modifyAt ? blog.modifyAt|date('d-m-Y H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>
-->
<!--
    <a href="{{ path('app_blog_index') }}">back to list</a>

    <a href="{{ path('app_blog_edit', {'id': blog.id}) }}">edit</a>

    {{ include('blog/_delete_form.html.twig') }}
-->
{% endblock %}
